---
name: parser-service-pipeline
on: [push]  # yamllint disable-line rule:truthy
jobs:
  lint-yaml-files:
    runs-on: ubuntu-latest
    container: sdesbure/yamllint
    # only:
    #   changes:
    #     - "*.yml"
    #     - "**/*.yml"
    steps:
      - uses: actions/checkout@v4
      - run: yamllint -f github -c .yamllint.yml .

  lint-python-files:
    runs-on: ubuntu-latest
    container: python:3.11-slim-buster
    steps:
      - uses: actions/checkout@v4
      - name: Change ownership of /github/home
        run: |
          apt update && apt install -y sudo
          sudo chown -R $(whoami) /github/home
      - uses: actions/setup-python@v5
        with:
          # python-version: 'python3'
          cache: 'pip'
      - run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install flake8
      - run: |
          python3 -m flake8 . --count --max-line-length=180 --ignore=E722,E402,W503


  test-python:
    needs: [lint-yaml-files, lint-python-files]
    runs-on: ubuntu-latest
    container: ubuntu:24.04
    steps:
      - uses: actions/checkout@v4
      - run: |
          export SERVICE_BUILD_TIME_DATE="2021-02-02T15:24:16Z"
          apt-get update
          apt-get install -y python3-pip python3-pytest python3-flask
          mkdir test-results
          python3 -m pytest test/*.py -v --junitxml test-results/pytest.xml

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/linux@v2
        if: always()
        with:
          files: |
            test-results/**/*.xml
            test-results/**/*.trx
            test-results/**/*.json

  # build-docker:
  #   if: contains( github.ref, 'master') == false
  #   needs: [test-python]
  #   runs-on: ubuntu-latest
  #   container: docker:latest
  #   services:
  #     docker_dind:
  #       image: docker:dind
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Set up QEMU
  #       uses: docker/setup-qemu-action@v3
  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v3
  #     - name: Build
  #       id: docker_build
  #       uses: docker/build-push-action@v5
  #       with:
  #         context: ./services/logparser
  #         pull: true
  #         build-args: |
  #           service_build_time_date: `date "+%Y-%m-%dT%H:%M:%S"`
  #           git_commit_sha: "${CI_COMMIT_SHA}"
  #           build_expiry_time_days: "99999"

  # build-docker-master:
  #   if: contains( github.ref, 'master')
  #   needs: [test-python]
  #   runs-on: ubuntu-latest
  #   container: docker:latest
  #   services:
  #     docker_dind:
  #       image: docker:dind
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Set up QEMU
  #       uses: docker/setup-qemu-action@v3
  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v3
  #     - name: Login to DockerHub
  #       uses: docker/login-action@v3
  #       with:
  #         registry: ghcr.io
  #         username: ${{ github.actor }}
  #         password: ${{ secrets.GITHUB_TOKEN }}
  #     - name: Build and push
  #       id: docker_build
  #       uses: docker/build-push-action@v5
  #       with:
  #         context: ./services/logparser
  #         pull: true
  #         push: true
  #         tags: ghcr.io/dojones1/logparser:latest
  #         build-args: |
  #           service_build_time_date: `date "+%Y-%m-%dT%H:%M:%S"`
  #           git_commit_sha: "${CI_COMMIT_SHA}"
  #           build_expiry_time_days: "99999"
